version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    container_name: fcr_postgres_dev
    env_file: ./db/.env
    environment:
      - TZ=America/Bogota
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d:ro
      - pg_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8.10
    container_name: fcr_pgadmin_dev
    env_file: ./db/.env
    environment:
      - PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=True
      - PGADMIN_CONFIG_LOGIN_BANNER='"Bienvenido a pgAdmin"'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./db/pgadmin/servers.json:/pgadmin4/servers.json:ro
    ports:
      - '5050:80'
    depends_on: [postgres]
    restart: unless-stopped

  api_fr:
    build: { context: ./backend/fr, target: dev }
    container_name: fcr_api_fr_dev
    env_file: ./backend/fr/.env
    volumes:
      - ./backend/fr/app:/code
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on: [postgres]
    ports:
      - '8000:80'
    restart: unless-stopped

  api_socket:
    build: { context: ./backend/socket, target: dev }
    container_name: fcr_api_socket_dev
    env_file: ./backend/socket/.env
    volumes:
      - ./backend/socket/app:/code
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on: [postgres]
    ports:
      - '8001:80'
    restart: unless-stopped

  front_fr:
    build: { context: ./frontend/fr, target: dev }
    container_name: fcr_front_fr_dev
    volumes:
      - ./frontend/fr/app:/app
      - front_fr_node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    env_file: ./frontend/fr/.env
    command: npm run dev -- --host 0.0.0.0
    ports:
      - '3000:3000'
    restart: unless-stopped

volumes:
  front_fr_node_modules:
  pg_data:
  pgadmin_data:
